{% extends 'layout.html' %}Finance Company Home{% block body %}
<div class="container text-dark text-center">
	<div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h1 class="display-4 mb-4">Welcome to FINEHANCE</h1>
          <p class="lead">Empowering your financial journey</p>
        </div>
      </div>
      
      <div class="row mt-5">
        <div class="col-md-6">
          <h2>About Us</h2>
          <img src="../static/icon.png" alt="About Us Image" class="img-fluid mb-4">
          <p>At FINEHANCE, we are committed to providing innovative financial solutions to our clients. Our team of experts works tirelessly to help individuals and businesses achieve their financial goals.</p>
          <p>Whether you're looking to invest, save for the future, or manage your finances more effectively, we're here to guide you every step of the way.</p>
        </div>
        <div class="col-md-6">
          <h2>Our Services</h2>
          <ul class="list-group">
            <li class="list-group-item">Budget Planning</li>
            <li class="list-group-item">Expense Analytics </li>
            <li class="list-group-item">Real Estate</li>
            <li class="list-group-item">Stock Tracker</li>
            <li class="list-group-item">Chatbot</li>
          </ul>
          <p class="mt-3">Explore our comprehensive range of services designed to meet your financial needs and aspirations.</p>
        </div>
      </div>
      
      <div class="row mt-5">
        <div class="col-md-8 offset-md-2 text-center">
          <h2>Why Choose Us?</h2>
          <p class="lead">At FINEHANCE, we prioritize:</p>
          <ul class="list-unstyled">
            <li><i class="fa fa-check mr-2 text-success"></i>Client Satisfaction</li>
            <li><i class="fa fa-check mr-2 text-success"></i>Transparency</li>
            <li><i class="fa fa-check mr-2 text-success"></i>Expertise</li>
            <li><i class="fa fa-check mr-2 text-success"></i>Innovation</li>
            <li><i class="fa fa-check mr-2 text-success"></i>Integrity</li>
          </ul>
          <p class="mt-3">We strive to build long-lasting relationships with our clients based on trust and mutual respect.</p>
        </div>
      </div>
</div>
{% endblock %}
